name: Impacted Tests

on:
  push:
    branches:
      - test      # or any feature branch
  pull_request:
    branches:
      - main

jobs:
  impact-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0   # full history needed for diff

      - name: Fetch origin/main
        run: git fetch origin main

      - name: Get PR diff
        id: get_diff
        run: |
          PR_DIFF=$(git diff origin/main...HEAD)
          if [ -z "$PR_DIFF" ]; then
            PR_DIFF="None"
          fi
          echo "PR_DIFF<<EOF" >> $GITHUB_ENV
          echo "$PR_DIFF" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Display diff
        run: |
          echo "Modified files and changes:"
          echo "$PR_DIFF"

      # Add additional steps for running the impacted tests based on PR_DIFF



      - name: Run impact analysis
        id: run_analysis
        run: |
          node loadAndPredict.js "$PR_DIFF"

      - name: Run impacted tests with Cypress
        run: |
          impactedTest="${{ steps.run_analysis.outputs.impactedTest }}"
          npx cypress run --spec "cypress/integration/$impactedTest"