name: Impact Analysis and Cypress Tests

on:
  push:
    branches:
      - master        # This will trigger on commits to the main branch
jobs:
  impact-analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: |
          npm install

      - name: Get commit diff (for push or PR)
        id: get_diff
        run: |
          # Get diff for commits or PR
          if [ "$GITHUB_EVENT_NAME" == "pull_request" ]; then
            git fetch origin main
            PR_DIFF=$(git diff origin/main...HEAD)
          else
            PR_DIFF=$(git diff HEAD~1)
          fi
          echo "PR_DIFF<<EOF" >> $GITHUB_ENV
          echo "$PR_DIFF" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Run impact analysis
        id: run_analysis
        run: |
          node loadAndPredict.js "$PR_DIFF"

      - name: Run impacted tests with Cypress
        run: |
          impactedTest="${{ steps.run_analysis.outputs.impactedTest }}"
          npx cypress run --spec "cypress/integration/$impactedTest"
